body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #333;
    padding: 10px 0;
}

nav {
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.prediction-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.prediction-card {
    width: 50%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.card-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.card-column {
    width: 48%; /* Adjust width as needed to provide a small gap between columns */
}

.form-label {
    display: block;
    margin-bottom: 5px;
}

.form-select,
.form-control-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-control-submit-button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Adding transition for smooth effect */
}

.form-control-submit-button:hover {
    background-color: #555; /* Change the background color on hover */
}

.result-container {
    width: 50%;
}

.result {
    margin-top: 20px;
    font-weight: bold;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
