<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='owl.carousel.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='owl.theme.default.min.css') }}" />
    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>CREDBET</title>
  </head>

  <body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="70">
    <!-- TOP NAV -->
    <div class="top-nav" id="home">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-auto">
            <p><i class="bx bxs-envelope"></i></p>
          </div>
          </div>
        </div>
      </div>
    </div>

    <!-- BOTTOM NAV -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top" >
      <div class="container">
        <a class="navbar-brand" href="#">CREDBET<span class="dot">.</span></a>
       <nav>
      <div class="Logo"> 
        <a href="#"><img src="{{ url_for('static', filename='images/Logo.png')}}" alt="Logo"></a>
      </div>
    </nav>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="#home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/individual">Prediction</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#reviews">About
            </li>
          </ul>
          <a
            href="#"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            ></a
          >
        </div>
      </div>
    </nav>

    <!-- SLIDER -->
    <div class="owl-carousel owl-theme hero-slider" id="home">
      <div class="slide slide1">
        <div class="container">
          <div class="row">
            <div class="col-12 text-center text-white">
              <h6 class="text-white text-uppercase">
               Data Analysis
              </h6>
              <h1 class="display-3 my-4">Predict Approval</h1>
              <a href="#" class="btn btn-brand">Get Started</a>
              <a href="#" class="btn btn-outline-light ms-3">Our work</a>
            </div>
          </div>
        </div>
      </div>
      <div class="slide slide2">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-10 offset-lg-1 text-white">
              <h6 class="text-white text-uppercase">
                 Data Visualization
              </h6>
              <h1 class="display-3 my-4">
                Visualize Data
              </h1>
              <a href="/individual" class="btn btn-brand">Individual Loan</a>
              <a href="/joint" class="btn btn-outline-light ms-3">Joint Loan</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section id="services" class="text-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="intro">
              <h1>What We Do?</h1>
              <p class="mx-auto">
              We helps to verify the Loan Eligibility.
              </p>
            </div>
          </div>
        </div>
        <div class="row g-4">
          <div class="col-lg-4 col-md-6">
            <div class="service">
              <img src="{{url_for('static', filename='images/Data Analysis.png')}}" alt="" />
              <h5>Data Analysis</h5>
              <p>
                A method in which data is collected and organized so that one
                can derive helpful information from it.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="service">
              <img src="{{url_for('static', filename='images/Data Visualization.png')}}" alt="" />
              <h5>Data Visualization</h5>
              <p>
                The goal of data visualization is to communicate data or information clearly and effectively to readers.
                It in the form of a chart, infographic, diagram or map.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="service">
              <img src="{{url_for('static', filename='images/Prediction.png')}}" alt="" />
              <h5>Predict the Loan</h5>
              <p>
                A system which provides you a interface for loan
                approval to the applicants of loan on the basis of data.
              </p>
            </div>
          </div>
          </div>
        </div>
      </div>
    </section>
    <div class="container">
    <section class="bg-light" id="reviews">
      <div class="owl-theme owl-carousel reviews-slider container">
        <div class="review">
          <div class="person">
            <img src="{{url_for('static', filename='images/Predic.png')}}" alt="" />
            <h5>Prediction</h5>
            <small>Predict the loan approval.</small>
          </div>
          <h3>
            Get Your Loan Approval chances by providing
            few necessary informations.
            Complete verification of Documents should be required.
          </h3>
          <i class="bx bxs-quote-alt-left"></i>
        </div>
        <div class="review">
          <div class="person">
            <img src="{{url_for('static', filename='images/Data.jpg')}}" alt="" />
            <h5>Check the Data</h5>
            <small>It will check the data you have enter for Loan approval.</small>
          </div>
          <h3>
           Kindly, Fill the important details properly for the loan approval 
           and get the approval request in just few seconds.
           Your Data will be Secure in your profile.
          </h3>
          <i class="bx bxs-quote-alt-left"></i>
        </div>
        <div class="review">
          <div class="person">
            <img src="{{url_for('static', filename='images/Repayment.jfif')}}" alt="" />
            <h5>Sources of Repayment.</h5>
            <small>There should be a proper source repayment for the loan sanction.</small>
          </div>
          <h3>
           You'll not able to get the loan approval if you have no income.
          </h3>
          <i class="bx bxs-quote-alt-left"></i>
        </div>
      </div>
    </section>
    <footer>
      <div class="footer-top text-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
              <h4 class="navbar-brand">CREDBET<span class="dot">.</span></h4>
              <p>
                 This is a classification problem in which we need to classify whether the loan will be approved or not. 
                 classification refers to a predictive modeling problem where a class label is predicted for a given example of input data.
              </p>
              <div class="col-auto social-icons">
                <a href="https://www.linkedin.com/in/rishabhh-mishra/"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom text-center">
        <p class="mb-0">Copyright@2022. All rights Reserved</p>
      </div>
    </footer>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
          <div class="modal-body p-0">
            <div class="container-fluid">
              <div class="row gy-4">
                <div
                  class="col-lg-4 col-sm-12 bg-cover"
                  style="background-image: url(img/c2.jpg); min-height: 300px"
                >
                  <div></div>
                </div>
                <div class="col-lg-8">
                  <form class="p-lg-5 col-12 row g-3">
                    <div>
                      <h1>Get in touch</h1>
                    </div>
                    <div class="col-lg-6">
                      <label for="userName" class="form-label"
                        >First name</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Jon"
                        id="userName"
                        aria-describedby="emailHelp"
                      />
                    </div>
                    <div class="col-lg-6">
                      <label for="userName" class="form-label">Last name</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Doe"
                        id="userName"
                        aria-describedby="emailHelp"
                      />
                    </div>
                    <div class="col-12">
                      <label for="userName" class="form-label"
                        >Email address</label
                      >
                      <input
                        type="email"
                        class="form-control"
                        placeholder="rish.mishra130801@gmail.com"
                        id="userName"
                        aria-describedby="emailHelp"
                      />
                    </div>
                    <div class="col-12">
                      <label for="exampleInputEmail1" class="form-label">Password</label
                      >
                      <textarea
                        name=""
                        placeholder="This is looking great and nice."
                        class="form-control"
                        id=""
                        rows="4"
                      ></textarea>
                    </div>

                    <div class="col-12">
                      <button type="submit" class="btn btn-brand">
                        Sign in
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>
