<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='owl.carousel.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='owl.theme.default.min.css') }}" />
    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='swiper.css') }}">
    <title>Individual Loan Prediction</title>
  </head>

  <body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="70">
    <!-- TOP NAV -->
    <div class="top-nav" id="home">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-auto">
            <p><i class="bx bxs-envelope"></i>rish.mishra130801@gmailcom</p>
          </div>
          <div class="col-auto social-icons">
            <a  target = "https://www.linkedin.com/in/rishabhh-mishra/" href='https://www.linkedin.com/in/rishabhh-mishra/'><i class="bx bxl-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>

    <!-- BOTTOM NAV -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
      <div class="container">
        <a class="navbar-brand" href="#">CREDBET<span class="dot">.</span></a>
        <nav>
      <!-- <div class="Logo">
        <a href="#"><img src="images/Logo.png" alt="Logo"></a>
      </div> -->
    </nav>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../Joint.html">Prediction</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/#reviews">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
<div id="Predict" class="ex-basic-2">
		<h4 style="text-align: center;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp Please Fill in the details to get your chances of Loan Approval.</h4>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
							<!-- Contact Form -->
								<form action='' method='POST'>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label"> gender</label>
  <select class="form-select" id="gender" name="gender" aria-label="Default select example">
  <option selected>-- select gender --</option>
  <option value="Male">Male</option>
  <option value="Female">Female</option>
</select>
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label"> married status</label>
  <select class="form-select" id="married" name="married" aria-label="Default select example">
  <option selected>-- select married status --</option>
  <option value="Yes">Yes</option>
  <option value="No">No</option>
</select>
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Dependents</label>
  <select class="form-select" id="dependents" name="dependents" aria-label="Default select example">
  <option selected>-- select dependents --</option>
  <option value="0">0</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3+">3+</option>
</select>
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Education</label>
  <select class="form-select" id="education" name="education" aria-label="Default select example">
  <option selected>-- select education --</option>
  <option value="Graduate">Graduate</option>
  <option value="Not Graduate">Not Graduate</option>
</select>
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Self_Employed</label>
  <select class="form-select" id="employed" name="employed" aria-label="Default select example">
  <option selected>-- select Self_Employed --</option>
  <option value="Yes">Yes</option>
  <option value="No">No</option>
</select>
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Credit_History</label>
  <select class="form-select" id="credit" name="credit" aria-label="Default select example">
  <option selected>-- select Credit_History --</option>
  <option value="1.000000">1.000000</option>
  <option value="0.000000">0.000000</option>
  <option value="0.842199">0.842199</option>
</select>
	</div>
                 </div> <!-- end of contact form -->
                </div> 	<!-- end of text-container -->
				                <div class="col-lg-6">
                    <div class="text-container">
							<!-- Contact Form -->
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Property_Area</label>
  <select class="form-select" id="area" name="area" aria-label="Default select example">
  <option selected>-- select Property_Area --</option>
  <option value="Semiurban">Semiurban</option>
  <option value="Urban">Urban</option>
  <option value="Rural">Rural</option>
</select>
</div>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Enter ApplicantIncome</label>
  <input type="text" class="form-control-input" id="ApplicantIncome" name="ApplicantIncome" placeholder="ApplicantIncome">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Enter CoapplicantIncome</label>
  <input type="text" class="form-control-input" id="CoapplicantIncome" name="CoapplicantIncome" placeholder="CoapplicantIncome">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Enter LoanAmount</label>
  <input type="text" class="form-control-input" id="LoanAmount" name="LoanAmount" placeholder="LoanAmount">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Enter Loan_Amount_Term</label>
  <input type="text" class="form-control-input" id="Loan_Amount_Term" name="Loan_Amount_Term" placeholder="Loan_Amount_Term">
</div>




   </div> <!-- end of contact form -->
					</div> 	<!-- end of text-container -->
                    <button type="submit" class="form-control-submit-button"action= '/predict'>MAKE PREDICTION</button>
					</form>
					</div> <!-- end of container -->
          <p align="center"><b>{{prediction_text}}</b></p></align>
				<div class="result" align="center">		
				</div>


          <div>
            <br><br><h3></h3>
          </div>
					</div> <!-- end of container -->
				<div class="result" align="center">		
				</div>
                  <footer>
      <div class="footer-top text-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
              <h4 class="navbar-brand">CREDBET<span class="dot">.</span></h4>
              <p>
                 This is a classification problem in which we need to classify whether the loan will be approved or not. 
                 classification refers to a predictive modeling problem where a class label is predicted for a given example of input data.
              </p>
              <div class="col-auto social-icons">
                <a href="https://www.linkedin.com/in/rishabhh-mishra/"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom text-center">
        <p class="mb-0">Copyright@2022. All rights Reserved</p>
      </div>
    </footer>
		</div>
    </div> 